# Useful aliases
alias ls="ls --color"
alias ll="ls -l"

#PS1="%B%F{09}%n%f%b@%F{014}%m%f %F{09}%/%f"$'\n'"%F{001}>%f "

### AUTOCONFIGURED SETTINGS BELOW ###
# Lines configured by zsh-newuser-install
HISTFILE=~/.zhistory
HISTSIZE=1000
SAVEHIST=1000
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename 'USERHOME/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
